body {
	margin: 0;
}

#div1 {
	background: #1c2229;
	text-align: center;
	padding-top: 80px;
}

#div1_title {
	color: #d4c9a9;
	letter-spacing: 14px;
	font-size: 47px;
	/*position: relative;
  			left:200px;
  			top: 100px;*/
}

.title {
	color: #D4C9A9;
	letter-spacing: 15px;
	font-size: 47px;
	margin-top: 278px;
	background-color: #1c2229;
	height: 70px;
}

#3 {
	height: 550px;
}

#div2 {
	height: 60px;
	position: fixed;
	bottom: 0px;
	cursor: pointer;
	width: 100%;
	background-color:white;
}

#div2 li {
	list-style: none;
	float: left;
	margin: 24px;
	font-size: 14px;
	color: #2B323B;
}


#div2 a{
	text-decoration: none;
	color: #BDB088;
}

.component-button nav button previous {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 4px 2px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

#div2 a:hover {
	text-decoration: none;
}

#button a:hover {
	text-decoration: none;
}

#button a {
	color: #BDB088;
	font-size: 24px;
}

.anydiv {
	padding-left: 40%;
	margin-top: 20%;
}

.anydiv p {
	color: #BDB088;
	padding-left: 20px;
	padding-top: 2px;
}

.name h1 {
	padding-left: 36%;
	color: #b59758;
	padding-top: 10%;
}

.name {
	width: 500px;
	padding-bottom: 400px;
	margin: 0px auto;
	color: #C4A366;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.06em;
}

.title02 p {
	text-align: center;
	padding-top: 95px;
	font-size: 16px;
	color: #BDB088;
}

.imgtable {
	padding-left: 360px
}

.any11 {
	position: absolute;
	left: 40%;
}

.anny3d {
	height: 660px;
	background-color: #F7F6F4;
	margin-top: 60px;
}

.any11text {
	padding-top: 230px;
	padding-left: 130px;
	color: #937341;
	font-size: 20px;
	line-height: 1.5em;
	letter-spacing: 0.06em;
}

.endimg {
	margin-top: 35px;
}

#img01 {
	width: 370px;
    position: absolute;
    left: 11%;
}

#img02 {
	height: 160px;
    position: absolute;
    left: 32%;
}

#img03 {
	height: 160px;
    position: absolute;
    left: 53%;
}

#img04 {
	height: 160px;
    position: absolute;
    left: 74%;
}

#img05 {
	position: absolute;
    left: 11%;
}

#img06 {
	    position: absolute;
    /* right: 854px; */
    left: 32%;
}

#img07 {
	position: absolute;
    /* right: 460px; */
    left: 53%;
}

#img08 {
	position: absolute;
    /* right: 60px; */
    left: 74%;
}


