body {
	margin: 0;
}

#div1 {
	background: #1c2229;
	text-align: center;
	padding-top: 80px;
}

#div1_title {
	color: #d4c9a9;
	letter-spacing: 14px;
	font-size: 47px;
	/*position: relative;
  			left:200px;
  			top: 100px;*/
}

.title {
	color: #D4C9A9;
	letter-spacing: 15px;
	font-size: 47px;
	margin-top: 278px;
	background-color: #1c2229;
	height: 70px;
}

#3 {
	height: 550px;
}

#div2 {
	position: fixed;
	bottom: 0px;
	cursor: pointer;
	width: 100%;
	background-color:white;
}

#div2 li {
	list-style: none;
	float: left;
	margin: 24px;
	font-size: 14px;
	color: #2B323B;
}


#div2 a{
	text-decoration: none;
	color: #BDB088;
}

.component-button nav button previous {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 4px 2px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

#div2 a:hover {
	text-decoration: none;
}

#button a:hover {
	text-decoration: none;
}

#button a {
	color: #BDB088;
	font-size: 24px;
}

.anydiv {
	padding-left: 40%;
	margin-top: 20%;
}

.anydiv p {
	color: #BDB088;
	padding-left: 20px;
	padding-top: 2px;
}

.name h1 {
	padding-left: 40%;
	color: #b59758;
	padding-top: 10%;
}

.name {
	width: 500px;
	padding-bottom: 400px;
	margin: 0px auto;
	color: #C4A366;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.06em;
}

.title02 p {
	text-align: center;
	padding-top: 95px;
	font-size: 16px;
	color: #BDB088;
}

.imgtable {
	padding-left: 206px
}

.any11 {
	position: absolute;
	left: 40%;
}

.anny3d {
	height: 660px;
	background-color: #F7F6F4;
	margin-top: 60px;
}

.any11text {
	padding-top: 230px;
	padding-left: 130px;
	color: #937341;
	font-size: 20px;
	line-height: 1.5em;
	letter-spacing: 0.06em;
}

.endimg {
	margin-top: 35px;
}
#name{
  position: absolute;
  left: 275px;
  font-size: 14px;
  color: #BDB088;
}
#ahri03{
	width: 40%;
    position: absolute;
    right: 9%;
    padding-top: 20px;
}
.img02{
	text-align: center;
	width: 100%;
	height: 25%;
	margin-top: 10%;
	background-color: #F7F6F4;
	color: #C2945C;
	font-size: 16px;
}
.img02 p{
	margin-top: 15px;
}
.img03{
	margin-top: 100px;
	text-align: center;
}
.img04{
	text-align:right;
	margin-top: 100px;
}



#heimer02{
	width: 32%;
}
.title02{
	margin-top: 30px;
	text-align: center;
}

#vi01{
	text-align: right;
}
#vi_text{
	position: absolute;
    top: 215%;
    height: 10px;
    font-style: italic;
}
#vi_text01{
	text-align: left;
	position: absolute;
    top: 370%;
    height: 10px;
   font-size: 16px;
   color: #BDB088;
   letter-spacing: 1px;
}
#vei04{
	text-align: center;
	margin-top: 60px;
}
