
body{
	margin: 0;
	
}
.title{
    color: #b59758;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 3px;
    margin: 0px auto;
    padding: 10px;
    padding-top: 220px;
}
.big{
	position: static;
	background-color:#1c2229 ; 
}
.text{
	
	width: 500px;
	padding-bottom:338px;
	margin: 0px auto;
	color:#C4A366 ;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.06em;
}
span{
	width: 100px;
}
p{
	margin-top: 0;
}

#div2{
	height: 45px;
width: 100%;	
}


#div2 li {
	list-style: none;
	float: left;
	font-size: 14px;
	color: #2B323B;
	padding:5px 35px;
	cursor:pointer 
}

.end{
	
	width: 500px;
	padding-bottom:336px;
	margin: 0px auto;
	color:#C4A366 ;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.06em;
}
#zhong{
	width: 100%;
	background-color: white;
	position:fixed; 
    bottom: 0;
	
}
a{
	text-decoration: none;
	color: #BDB088;
}
a:hover {text-decoration: none;}
#Abutton{
	font-size: 24px;
}
.btn_right{
	margin-right: 500px;
	font-size: 24px;
}
#xiu{
	width: 500px;
	margin: 0px auto;
	height: 900px;
	padding-top: 50px;
}
